<div id="waypoint" class="icon-containers">
	<div class="icon-container survey">
		<img src="/assets/images/survey76x76@2x.png">
		<div class="icon-label">Survey</div>
	</div>
	<div class="icon-container inspect">
		<img src="/assets/images/inspect76x76@2x.png">
		<div class="icon-label">Inspect</div>
	</div>
	<div class="icon-container approve">
		<img src="/assets/images/approve76x76@2x.png">
		<div class="icon-label">Approve</div>
	</div>
	<div class="icon-container work">
		<img src="/assets/images/work76x76@2x.png">
		<div class="icon-label">Work</div>
	</div>
	<div class="icon-container configure">
		<img src="/assets/images/configure76x76@2x.png">
		<div class="icon-label">Configure</div>
	</div>
</div>

