<div class="icon-containers">
	<div class="icon-container survey">
		<img src="/assets/images/Survey76x76@2x.png">
		<div class="icon-label">Survey</div>
	</div>
	<div class="icon-container inspect">
		<img src="/assets/images/Inspect76x76@2x.png">
		<div class="icon-label">Inspect</div>
	</div>
	<div class="icon-container approve">
		<img src="/assets/images/Approve76x76@2x.png">
		<div class="icon-label">Approve</div>
	</div>
	<div class="icon-container work">
		<img src="/assets/images/Work76x76@2x.png">
		<div class="icon-label">Work</div>
	</div>
	<div class="icon-container configure">
		<img src="/assets/images/Configure76x76@2x.png">
		<div class="icon-label">Configure</div>
	</div>
</div>

