.content-section.states {
	max-height: none;
}
.main-banner.about {
	background-image: url('images/Kate-AboutMePhoto.jpg');
	background-position: right;
	padding-top: 120px;
}
.main-banner.about .headline-text {
	text-transform: none;
}
.main-banner.about {
	h1.headline-text {
		margin-right: 10%;
	    @include breakpoint(medium down) {
	    	margin-right: 20%;
	    }
	    @media screen and (max-width: 546px) {
	    	font-size: 2.5em;
	    }
	}
	.headline-wrapper {
		@media screen and (max-width: 546px) {
	    	padding-top: 220px;
	    }
	}
	.subtitle-text {
	    @media screen and (max-width: 546px) {
	    	font-size: 1.5em;
	    	max-width: 100%;
	    }
	}
}
.subtitle-text {
	text-align: left;
    text-transform: none;
    max-width: 70%;
}
.description {
	@include font-body();
}
.callout-container {
	text-align: right;
}
.text-callout {
	@include callout-text();
}
.state-container {
	padding: 30px;
	&:first-child {
		padding-left: 0px;
	}
	&:last-child {
		padding-right: 0px;
	}
}
.state-image-container {
	min-height: 280px;
	max-height: 280px;
	padding: 20px;
	padding-left: 0px;
	display: table;
    width: 100%;
}
.state-image-container.oklahoma {
	padding: 0px;
}
.state-image-container.new-mexico {
	padding: 0px;
	svg {
		margin: 37px 59px 37px 0px;
	}
}
.svg-container {
	display: table-cell;
    vertical-align: middle;
    text-align: left;
}
.state-title.small-title {
	margin-bottom: 20px;
}
.state-description {
	@include font-body();
}
.state-svg {
	path {
		stroke: $gray-70;
		fill: $gray-70;
	}
}