// APPLICATION
#main-nav {
  -webkit-animation-duration: .75s;
  -moz-animation-duration: .75s;
  -ms-animation-duration: .75s;
  -o-animation-duration: .75s;
  animation-duration: .75s;
}
// WORK
#work-headline {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}
#work-subtitle {
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: .75s;
	-moz-animation-duration: 1s;
	-moz-animation-delay: .75s;
	-ms-animation-duration: 1s;
	-ms-animation-delay: .75s;
	-o-animation-duration: 1s;
	-o-animation-delay: .75s;
	animation-duration: 1s;
	animation-delay: .75s;
}