.project-contents {
	margin: 120px auto;
	max-width: $max-content-width;
	@include font-body();
}
.project-image {
	margin-bottom: 100px;
	margin-top: 50px;
	text-align: center;	
}
.project-header {
	margin-top: 120px;
	margin-bottom: 20px;
	text-align: center;
	h3 {
		@include font-nav();
	}
}
.project-body {
	max-width: $max-content-text-width;
	margin: auto;
	@include breakpoint(medium down) {
		line-height: 1.5em;
	}
}
.second-body {
	margin-top: 70px;
}
.project-component {
	margin-bottom: 100px;
	margin-top: 50px;
	text-align: center;	
}
.project-contents {
	@include breakpoint(medium down) { 
		margin-left: 20px;
	    margin-right: 20px;
    }
    @include breakpoint(small down) { 
		margin-left: 20px;
	    margin-right: 20px;
    }
}


// Project-specific
.enigami-create-account {
	max-width: 80%;
}