// Colors
$yellow: #D9C02E;
$dark-teal: #789AA1;
$bright-teal: #B6D5D6;
$muted-teal: #E4EBEC;
$white: #f2f2f2;
$gray-100: #304345;
$gray-80: lighten($gray-100, 20);
$gray-70: #97a1a2;
$gray-50: lighten($gray-100, 50);
$gray-10: lighten(#97a1a2, 35);

// Sizes
$header-height-large: 116px;
$body-padding: 100px;
$body-padding-medium: 60px;
$body-padding-small: 20px;
$max-page-width: 2400px;
$max-content-width: 1020px;
$max-content-text-width: 800px;

// Font Sizes
$font-small: 1em; //16px
$font-medium: 1.5em; //24px
$font-medium-large: 2.25em; //36px
$font-large: 5.063em; //81px
$font-extra-large: 7.594em; //121.5px

// Typography
@mixin font-title() {
  font-weight: 100;
  font-size: $font-extra-large;
  text-transform: capitalize;
  color: $gray-100;
  @include breakpoint(large down) { 
    font-size: $font-large; 
  }
  @include breakpoint(medium down) { 
    font-size: 4.6em;
  }
}
@mixin font-subtitle() {
  font-weight: 100;
  font-size: $font-medium-large;
  text-transform: capitalize;
  color: $gray-100;
}

@mixin font-body() {
  font-weight: 100;
  font-size: $font-medium;
  line-height: 34px;
  color: $gray-70;
}

@mixin font-nav() {
  font-weight: 600;
  font-size: $font-small;
  text-transform: uppercase;
}

@mixin font-secondary-nav() {
	font-size: $font-large;
  font-weight: 600;
  color: $gray-70;
}
@mixin font-project-description() {
  font-weight: 500;
  font-size: $font-small;
  text-transform: capitalize;
  color: $gray-100;
}

@mixin font-section-header() {
  font-weight: 600;
  font-size: $font-medium;
  text-transform: uppercase;
  color: $gray-100;
}	

@mixin callout-text() {
  font-weight: 600;
  font-size: $font-medium-large;
  text-transform: uppercase;
  color: $yellow;
} 