.main-banner, .project-banner {
	display: table;
	position: relative;
	height: 700px;
	min-height: 700px;
	width: 100vw;
    max-width: none;
    padding-right: 100px;
	padding-left: 100px;
	margin-top: -50px;
    margin-right: -200px;
	margin-left: -100px;
	background-image: none;
	background-size: cover;
	background-position: right;
}
.main-banner {
	padding-top: 120px;
}
.banner-overlay {
	height: 100%;
	width: 100%;
	background-color: white;
	opacity: .9;
	position: absolute;
}
.headline-wrapper {
	display: table-cell;
    vertical-align: middle;
	width: 100%;
	text-align: center;
}
.headline-text {
	text-transform: lowercase;
	text-align: left;
    margin-top: -20px;
}

// Project list
.project-thumbnails {
	section.content-section {
    	overflow: hidden;
	}
}