@import "settings";
@import 'foundation';
@include foundation-everything;

@import 'variables';
@import 'work';
@import 'project';
@import 'components/loading-overlay';
@import 'components/main-nav';
@import 'components/secondary-nav';
@import 'components/project-banner';
@import 'components/project-header';
@import 'components/portfolio-item';

body, html {
	font-family: 'Gibson', sans-serif;
	height: 100%;
}
li {
	list-style: none;
}

a {
	color: $gray-100;
	text-decoration: none;
	cursor: pointer;
}
section {
	padding-left: $body-padding;
	padding-right: $body-padding;
}
section.content-section {
	border-bottom: 1px solid $gray-50;
}
.hidden {
	opacity: 0;
}
.loading-overlay {
	opacity: 1;
	transition: all .7s ease;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
}
.loading-overlay.hidden {
	opacity: 0;
	transition: all .7s ease;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    z-index: -999;
}
body > .ember-view {
    height: 100%;
    overflow-y: auto;
}

// Foundation overrides
.row {
	margin-left: 0px;
	margin-right: 0px;
    max-width: none;
}
.columns {
	padding-left: 0px;
	padding-right: 0px;
}
