<div class="row enigami-logos">
	<div class="enigami-logo columns medium-6">
		<img src="assets/images/enigami-spiral_overlay_blue.png" srcset="assets/images/enigami-spiral_overlay_blue.png 1022w, assets/images/enigami-spiral_overlay_blue-medium.png 800w, assets/images/enigami-spiral_overlay_blue-small.png 400w" sizes="50%">
	</div>
	<div class="enigami-logo columns medium-6">
		<img src="assets/images/enigami-spiral_overlay_teal.png" srcset="assets/images/enigami-spiral_overlay_teal.png 1022w, assets/images/enigami-spiral_overlay_teal-medium.png 800w, assets/images/enigami-spiral_overlay_teal-small.png 400w" sizes="50%">
	</div>
</div>
<div class="enigami-typography-container">
	<div class="enigami-typography">
		<div>Lato Sans</div>
		<div>ABCDEFGHIJKLMNOPQRSTUVWXYZ</div>
		<div>abcdefghijklmnopqrstuvwxyz</div>
		<div>0123456789</div>
	</div>
</div>
