<div class="main-banner load-image">
	<!-- <div class="banner-overlay"></div> -->
	<div class="headline-wrapper">
		<div class="headline-text-large">designer <span class="ampersand">&</span> developer</div>
		<!-- <div class="headline-text-large"></div> -->
		<!-- <div class="row headline-text">
			<div class="headline-text-large large-8 columns">designing<span class="ampersand">&</span>building</div>
		</div>
		<div class="row headline-text">
			<div class="headline-text-small large-1 large-offset-6 columns">for</div>
		</div>
		<div class="row headline-text">
			<div class="headline-text-large large-7 large-offset-5 columns">beauty<span class="ampersand">&</span>function</div>
		</div> -->
	</div>
</div>
<section class="work">
	{{work-gallery model=model}}
</section>

