<section class="content-section">
	<div class="main-banner load-image">
		<div class="headline-wrapper">
			<div class="headline-text">designer & developer.</div>
			<div class="headline-text">web & mobile.</div>
		</div>
	</div>
</section>
<div class="project-thumbnails">
	{{#each model as |project|}}
		{{portfolio-item model=project}}
	{{/each}}
</div>


