<section class="content-section banner">
	<div class="main-banner load-image">
		<div class="headline-wrapper">
			<h1 id = "work-headline" class="headline-text">designer&nbsp;&&nbsp;developer.</h1>
			<h1 id = "work-subtitle" class="headline-text">web & mobile.</h1>
		</div>
	</div>
</section>
<div class="project-thumbnails">
	{{#each model as |project|}}
		{{portfolio-item model=project}}
	{{/each}}
</div>
{{liquid-outlet}}
{{site-footer}}



