<section class="content-section banner">
	<div class="project-banner {{model.name}}">
		<div class="row">
			<div class="banner-title-container columns small-12 medium-7">
				<div class="banner-title">
					<h1 class="project-name">
						{{model.name}}
					</h1>
					<h2 class="project-subtitle">
						{{model.subtitle}}
					</h2>
				</div>
			</div>
			<div class="banner-image columns small-12 medium-5">
				<img class="load-image" src={{model.bannerImage}}>
			</div>
		</div>
	</div>
</section>