<div class="project-banner {{model.color}}">
	<div class="row">
		<div class="banner-image columns medium-8">
			<img class="load-image" src={{model.bannerImage}}>
		</div>
		<div class="banner-title-container columns medium-4">
			<div class="banner-title">
				<div class="project-name to-animate fadeInDown">
					{{model.name}}
				</div>
				<div class="project-description">
					{{model.description}}
				</div>
			</div>
		</div>
	</div>
</div>
