<!-- <div class="row"> -->
	<div class="tapigo-colors-container">
		<div class="tapigo-color-container">
			<div class="tapigo-color"></div>
		</div>
		<div class="tapigo-color-container">
			<div class="tapigo-color"></div>
		</div>
		<div class="tapigo-color-container">
			<div class="tapigo-color"></div>
		</div>
		<div class="tapigo-color-container">
			<div class="tapigo-color"></div>
		</div>
		<div class="tapigo-color-container">
			<div class="tapigo-color"></div>
		</div>
	</div>
	<div class="tapigo-typeface-container">
		<div class="tapigo-typography">
			<div>Open Sans</div>
			<div>ABCDEFGHIJKLMNOPQRSTUVWXYZ</div>
			<div>abcdefghijklmnopqrstuvwxyz</div>
			<div>0123456789</div>
		</div>
	</div>
<!-- </div> -->