.reg-screen {
	max-height: 320px;
}
.login-screen {
	max-height: 315px;
}
.screen-image-container {
	&:first-child {
		padding-right:10px;
	}
	&:last-child {
		padding-left: 10px;
	}
}
.screen-label {
	margin-top: 10px;
}
.customer-screens {
	border-radius: 10px;
}