.enigami-colors {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
	height: 100px;
	flex-wrap: nowrap;
}
.enigami-color-container {
	-webkit-box-flex: 1;
  	-moz-box-flex:  1;
  	flex:  1;
	&:nth-child(1) {
		.enigami-color {
			background-color: #526275;
		}
	}
	&:nth-child(2) {
		.enigami-color {
			background-color: #6B6E87;
		}
	}
	&:nth-child(3) {
		.enigami-color {
			background-color: #ECEEF4;
		}
	}
	&:nth-child(4) {
		.enigami-color {
			background-color: #68A192;
		}
	}
	&:nth-child(5) {
		.enigami-color {
			background-color: #E0B540;
		}
	}
}
.enigami-color {
	width: 100%;
	height: 100%;
}
.enigami-logo {
	img {
		padding: 30px;
		@include breakpoint(small down) {
			padding: 10px;
		}
	}
}
.enigami-typography-container {
	text-align: center;
	margin-top: 50px;
}
.enigami-typography {
	text-align: left;
	font-family: 'lato';
	font-size: 1.5em;
	color: $gray-100;
	overflow: hidden;
	display: table;
    margin: auto;
    @media screen and (max-width: 660px) {
    	display: block;
    }
	div {
		margin: 15px 10px 15px 0px;
		word-wrap: break-word;
		display: table;
		@media screen and (max-width: 660px) {
	    	display: block;
	    	margin: 15px 10px 15px 0px;
	    }
	}
}
