@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}
@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}
@include keyframes(rectangle-wave) {
  0% { }
  10% {
    margin-top:10px;
    height:44px;
    border-color:#acdce6;
    background-color:#a4d2db;
  }
  20% {
    margin-top:0px;
    height:64px;
    border-color:#aad9e3;
    background-color:#a4d2db;
  }
  30% {
    margin-top:2px;
    height:60px;
    border-color:#c3e0e6;
    background-color:#a4d2db;
  }
  40% { margin-top:6px; height:52px; }
  50% { margin-top:10px; height:44px; }
  60% { margin-top:12px; height:36px; }
  100% { }
}

.loading-overlay {
	position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: white;
  z-index: 99999;
}
#loader {
  position: absolute;
  margin-top: 25%;
  top: -16px;
  margin-left: 50%;
  left: -16px;
	.rect {
		background:#97c1c9;
		border:1px solid #97c1c9;
		float:left;
		margin:12px 5px 0 0;
		width:12px;
		height:36px;
		@include animation('rectangle-wave 1.3s linear infinite');
		&:nth-child(2) { 
			animation-delay: 0.1s; 
			-webkit-animation-delay: 0.1s; 
			-moz-animation-delay: 0.1s; 
			-ms-animation-delay: 0.1s; 
		}
		&:last-child { 
			animation-delay: 0.2s; 
			-webkit-animation-delay: 0.2s; 
			-moz-animation-delay: 0.2s; 
			-ms-animation-delay: 0.2s;
			margin-right:0; 
		}
	}
}


