.header-container.row {
	padding-top: 20px;
	padding-bottom: 20px;
    width: 100%;
    z-index: 9999;
    position: absolute;
    background-color: rgba(255,255,255,.9);
    margin-left: calc(0px - #{$body-padding});
    margin-right: $body-padding;
    padding-left: $body-padding;
    padding-right: $body-padding;
    max-width: none;
}
.header-logo {
	line-height: 50px;
	img {
		max-height: 40px;
		display: inline-block;
	}
	.kate-white {
		font-family: gibson;
	    text-transform: lowercase;
		font-weight: 600;
		font-size: 26px;
	    line-height: 50px;
	    color: $gray-100;
	    display: inline-block;
	    margin-left: 15px;
	    vertical-align: middle;
	}
}
.nav-list {
	text-align: right;
}
.nav-item {
	display: inline-block;
	margin-left: 50px;
	@include font-nav();
}
.nav-item {
	a {
		transition: all .4s ease;
	    -webkit-transition: all .4s ease;
	    -moz-transition: all .4s ease;
	    padding-bottom: 3px;
	    border-bottom: 3px solid transparent;
		&:hover {
			border-bottom: 3px solid $gray-100;
		}
	}
	.active-nav {
		border-bottom: 3px solid $gray-100;
	}
}