.header-container {
	padding-top: 30px;
	padding-bottom: 30px;
	height: $header-height-large;
    width: 100%;
    z-index: 9999;
    position: absolute;
    //background-color: white;
}
.header-logo {
	line-height: 50px;
	img {
		max-height: 50px;
	}
	.kate-white, .design-development {
	    font-family: gibson;
	    text-transform: lowercase;
	}
	.kate-white {
		font-weight: 600;
		font-size: 36px;
	    line-height: 36px;
	    color: $gray-100;
	}
	.design-development {
		font-weight: 500;
		font-size: 18px;
	    line-height: 18px;
	    color: $gray-50;
	}
}
.nav-list {
	text-align: right;
}
.nav-item {
	display: inline-block;
	margin-left: 50px;
	@include font-nav();
}
.nav-item {
	a {
		transition: all .4s ease;
	    -webkit-transition: all .4s ease;
	    -moz-transition: all .4s ease;
	    padding-bottom: 3px;
	    border-bottom: 3px solid transparent;
		&:hover {
			border-bottom: 3px solid $gray-100;
		}
	}
	.active-nav {
		color: $yellow;
		&:hover {
			border-bottom: 3px solid $yellow;
		}
	}
}