.portfolio-item {
	section.content-section {
		@include breakpoint(small down) { 
			max-height: 1200px;
		}
	}
	section.content-section.enigami {
		@include breakpoint(small down) {
			height: 1200px;
		}
	}
}

.portfolio-item-text-container {
    padding-right: 40px;
}
.portfolio-item-subtitle {
    margin-bottom: 40px;
}
.portfolio-item-description {
	@include font-body();
	margin-bottom: 60px;
	max-width: 400px;
}
.view-link {
	a {
		@include font-nav();
		color: $yellow;
		&:hover {
			color: lighten($yellow, 20);
			#PortfolioItem {
				stroke: lighten($yellow, 20);
			}
		}
	}
	.svg-arrow {
		display: inline-block;
    	margin-left: 10px;
    	vertical-align: middle;
    	margin-top: -1px;
	}
}
.portfolio-item-image-container {
	text-align: center;
	img.enigami {
		max-width: 650px;
	}
	img.aventura {
		max-width: 680px;
	}
	img {
		width: 100%;
	}
	@include breakpoint(small down) { 
		margin-top: 70px;
	}
}

.enigami-portfolio-item {
	.portfolio-item-text-container {
		// Had this as a percentage, but Firefox did not like that, so had to add lots of breakpoints
		margin-top: -370px;
		@media screen and (max-width: 1300px) {
			margin-top: -320px;
		}
		@media screen and (max-width: 1200px) {
			margin-top: -260px;
		}
		@media screen and (max-width: 1100px) {
			margin-top: -170px;
		}
	}
}