.portfolio-item-text-container {
	margin-top: 70px;
}
.portfolio-item-subtitle {
    margin-bottom: 40px;
}
.portfolio-item-description {
	@include font-body();
	margin-bottom: 60px;
	max-width: 400px;
}
.view-link {
	a {
		@include font-nav();
		color: $yellow;
		&:hover {
			color: lighten($yellow, 20);
			#PortfolioItem {
				stroke: lighten($yellow, 20);
			}
		}
	}
	.svg-arrow {
		display: inline-block;
    	margin-left: 10px;
    	vertical-align: middle;
    	margin-top: -1px;
	}
}
.portfolio-item-image-container {
	text-align: center;
	img.enigami {
		max-width: 650px;
	}
	img.aventura {
		max-width: 680px;
	}
	@include breakpoint(large down) { 
		padding: 20px;
	}
}