
.project-banner {
	background-image: none;
	overflow: hidden;
	.row {
		height: 100%;
		@include breakpoint(small down) {
			height: 700px;
		}
	}

	.banner-title-container {
		margin-top: 280px;
		@include breakpoint(small down) {
			margin-top: 260px;
		}
	}
	.banner-image {
		margin-top: 240px;
		text-align: center;
		@include breakpoint(small down) {
			margin-top: 0px;
	    	opacity: .1;
		}
	}
}

// Project Specific
.project-banner.tapigo {
	img {
		max-width: 70%;
		@include breakpoint(small down) {
			margin-top: 0px;
			max-width: 60%;
		}
		@media screen and (max-width: 500px) {
			max-width: 100%;
		}
	}
}
.project-banner.enigami, .project-banner.tapigo {
	.banner-image {
		margin-top: 220px;
		@include breakpoint(small down) {
			margin-top: -320px;
		}
	}
}
.project-banner.aventura {
	.banner-image {
		margin-top: 170px;
		@include breakpoint(small down) {
			margin-top: -300px;
		}
		@media screen and (max-width: 580px) {
			margin-top: -410px;
		}
	}
}
.project-banner.spigot {
	.banner-image {
		@include breakpoint(small down) {
			margin-top: -200px;
		}
		@media screen and (max-width: 580px) {
			margin-top: -360px;
		}
		img {
			@media screen and (min-width: 1400px) {
				max-width: 120%;
    			margin-left: -80px;
			}
		}
		
	}
}