.project-banner {
	background-image: none;
	overflow: hidden;
	.row {
		height: 100%;
	}
}
.banner-title-container {
	margin-top: 280px;
}
.banner-image {
	margin-top: 240px;
	text-align: center;
}

// Project Specific
.project-banner.tapigo {
	img {
		max-width: 70%;
	}
}
.project-banner.enigami, .project-banner.tapigo {
	.banner-image {
		margin-top: 220px;
	}
}
.project-banner.aventura {
	.banner-image {
		margin-top: 170px;
	}
}