.project-banner {
	padding: 40px;
	text-align: center;
	height: calc(100vh - #{$header-height-large}*2.5);
	min-height: 600px;
	.row {
		height: 100%;
	}
}
.project-banner.bright-teal {
	background-color: $bright-teal;
}
.banner-image, .banner-title-container {
	height: 100%;
}
.banner-image img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    width: auto;
}

.banner-title {
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.project-name {
	@include font-title();
}
.project-description {
	@include font-project-description();
}