.secondary-nav {
	margin: 50px;
	text-align: center;
	border-top: 1px solid $gray-50;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 100px;
    padding: 60px;
    @include breakpoint(small down) {
    	margin: 0px;
    }
    @media screen and (max-width: 660px) {
		padding: 10px;
    }
	.secondary-nav-item-container {
	    margin-top: 30px;
	    margin-bottom: 30px;
	}
	a {
		vertical-align: middle;
		@include font-secondary-nav();
		text-transform: capitalize;
		transition: all .4s ease;
	    -webkit-transition: all .4s ease;
	    -moz-transition: all .4s ease;
	    -ms-transition: all .4s ease;
		&:hover {
			color: lighten($gray-70, 20);
			#PortfolioItem {
				stroke: lighten($yellow, 20);
			}
		}
		@include breakpoint(small down) {
			font-size: 3.375em;
		}
		@media screen and (max-width: 660px) {
			font-size: $font-medium-large;
		}
	}
	.svg-arrow {
		display: inline-block;
	    vertical-align: middle;
	    margin-top: -20px;
	}
	svg {
		width: 130px;
    	height: 40px;
    	@include breakpoint(small down) {
			margin-top: 30px;
    	}
		@media screen and (max-width: 660px) {
	    	width: 70px;
		    height: 30px;
		    margin-top: 26px;
		}
	}
	#PortfolioItem {
		stroke: $yellow;
		transition: all .4s ease;
	    -webkit-transition: all .4s ease;
	    -moz-transition: all .4s ease;
	    -ms-transition: all .4s ease;
		stroke-width: 1px;
	}
}