<div class="row medium-up-5">
	<div class="column enigami-color-container">
		<div class="enigami-color"></div>
	</div>
	<div class="column enigami-color-container">
		<div class="enigami-color"></div>
	</div>
	<div class="column enigami-color-container">
		<div class="enigami-color"></div>
	</div>
	<div class="column enigami-color-container">
		<div class="enigami-color"></div>
	</div>
	<div class="column enigami-color-container">
		<div class="enigami-color"></div>
	</div>
</div>