<div class="enigami-colors">
	<div class="enigami-color-container">
		<div class="enigami-color"></div>
	</div>
	<div class="enigami-color-container">
		<div class="enigami-color"></div>
	</div>
	<div class="enigami-color-container">
		<div class="enigami-color"></div>
	</div>
	<div class="enigami-color-container">
		<div class="enigami-color"></div>
	</div>
	<div class="enigami-color-container">
		<div class="enigami-color"></div>
	</div>
</div>