<div class="row align-middle">
	<div class="columns small-12 medium-6 screen-image-container">
		<img class="reg-screen" src="assets/images/aventura-oldregistercard.jpg">
		<div class="screen-label">Original</div>
	</div>
	<div class="columns small-12 medium-6 screen-image-container">
		<img class="reg-screen" src="assets/images/aventura-registercard.png">
		<div class="screen-label">Improved</div>
	</div>
</div>
