<section class="content-section banner">
	<div class="main-banner load-image about">
		<div class="headline-wrapper">
			<h1 class="headline-text to-animate fadeInLeft">I'm Kate. Yes,&nbsp;just&nbsp;Kate.</h1>
			<h2 class="subtitle-text">I'm not a Katherine, or a Kathleen, or a Kaitlyn.  I'm just Kate and I'm a detail-oriented web designer and developer.</h2>
		</div>
	</div>
</section>
<section class="content-section">
	<div class="row align-middle">
		<div class="small-12 medium-6 columns">
			<h3 class="small-title">What I do</h3>
			<div class="description">I'm a passionate designer and developer with 6 years of experience in the start-up tech world.  As a developer and designer, I am able to provide capabilities that most often would require multiple resources.  I satisfy the math nerd in me with development, and the creative maker in me with design.  My desire to learn and chronic FOMO (Fear of Missing Out) has driven me to subscribe to more podcasts and newsletters than I can keep up with.  </div>
		</div>
		<div class="small-12 medium-6 columns callout-container">
			<div class="text-callout">HTML</div>
			<div class="text-callout">JavaScript</div>
			<div class="text-callout">Responsive Design</div>
			<div class="text-callout">CSS/SASS</div>
			<div class="text-callout">Interaction Design</div>
			<div class="text-callout">Ember JS</div>
			<div class="text-callout">Mobile Design</div>
		</div>
	</div>
</section>
<section class="content-section states large">
	<div class="row large-unstack">
		<div class="columns state-container">
			<div class="state-image-container">
				<div class="svg-container">
					<svg class="state-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 208.9 198.7" style="enable-background:new 0 0 208.9 198.7;" xml:space="preserve">
						<g>
							<path d="M147.3,198.7c-0.5,0-1-0.1-1.6-0.2l-23.6-6c-2.7-0.7-5.8-3.1-7.1-5.6l-24.3-45.8c-0.7-1.3-2.4-3.2-3.7-4l-10-6.4
								c-1.1-0.7-3.3-1.3-4.7-1.3l-0.2,0l-6.6,0.3c-0.9,0-2.5,1-2.9,1.8l-3.5,6.1c-1.2,2.1-3.5,3.4-5.9,3.4c-1.1,0-2.1-0.3-3-0.7
								l-13.9-7.1c-2.4-1.2-5-4-6-6.6l-4.9-12.5c-0.6-1.4-2.1-3.8-3.2-4.9L1.7,89.1C-0.5,86.9,0,84.8,0.3,84c0.3-0.8,1.4-2.6,4.6-2.6h47.6
								c0.4,0,0.7-0.3,0.7-0.7l2.9-74.3C56.3,2.9,59.3,0,62.8,0l0.1,0l39,0.8c3.6,0.1,6.5,3.1,6.5,6.7v32.3c0,0.7,0.7,1.6,1.3,1.8
								l29.5,9.1c1.5,0.5,4.1,0.8,5.8,0.8l0.3,0l28.8-0.8c2.4-0.1,5.9,0.5,8.1,1.3l11.4,4.1c3.1,1.1,5.4,4.4,5.4,7.6v18
								c0,1.4,0.7,3.9,1.5,5.1l6.6,10.6c1.4,2.3,2.2,6,1.7,8.7l-3.1,17c-0.5,2.8-2.7,6-5.2,7.4L160.6,154c-1.2,0.7-2.9,2.5-3.5,3.8
								l-7.9,16.1c-0.6,1.1-0.8,3.5-0.5,4.7l3.3,13.7c0.4,1.7,0.1,3.4-0.9,4.6C150.2,198.1,148.8,198.7,147.3,198.7z M72.3,123.4
								c2.6,0,5.9,1,8,2.3l10,6.4c2.1,1.4,4.6,4,5.7,6.2l24.3,45.8c0.5,1,2.2,2.3,3.3,2.6l22.3,5.6l-3-12.3c-0.6-2.6-0.2-6.4,1-8.8
								l7.9-16.1c1.1-2.3,3.7-5,5.9-6.3l39.9-23.4c0.9-0.6,2.1-2.2,2.3-3.3l3.1-17c0.2-1.2-0.2-3.4-0.9-4.5l-6.6-10.6
								c-1.4-2.2-2.4-5.7-2.4-8.2v-18c0-0.7-0.7-1.7-1.4-2l-11.4-4.1c-1.4-0.5-4-0.9-5.7-0.9l-0.2,0l-28.8,0.8c-2.3,0.1-5.8-0.4-8-1.1
								L108,47.3c-3.2-1-5.6-4.2-5.6-7.5V7.5c0-0.3-0.3-0.7-0.7-0.7L62.8,6l0,0c-0.4,0-0.7,0.3-0.7,0.6L59.2,81c-0.1,3.6-3.2,6.5-6.7,6.5
								H8.5L26.2,105c1.7,1.7,3.7,4.7,4.6,6.9l4.9,12.5c0.5,1.2,2,2.9,3.1,3.4l13.9,7.1c0.3,0.2,0.9,0,1.1-0.3l3.5-6.1
								c1.5-2.6,4.9-4.6,7.9-4.8l6.6-0.3C72,123.4,72.1,123.4,72.3,123.4z"/>
						</g>
					</svg>
				</div>
			</div>
			<h3 class="state-title small-title">Roots</h3>
			<div class="state-description">95% of my giant and extremely tight-knit family resides in Texas. As a result, yes, I say "y’all".</div>
		</div>
		<div class="columns state-container">
			<div class="state-image-container">
				<div class="svg-container">
					<svg class="state-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 178.2 201.2" style="enable-background:new 0 0 178.2 201.2;" xml:space="preserve">
						<g>
							<path d="M23.8,201.2L23.8,201.2l-17.3-0.1c-1.8,0-3.4-0.7-4.7-2c-1.2-1.3-1.9-2.9-1.9-4.7L2.3,9.7c0-3.6,3-6.6,6.6-6.6L166.1,0
								c3.5,0,6.5,2.9,6.6,6.4l5.4,162.5c0.1,1.8-0.6,3.4-1.8,4.7s-2.8,2-4.6,2.1L77,178.3c-0.1,0-0.2,0.1-0.3,0.1
								c-0.1,0.1-0.1,0.2-0.1,0.3v0.2c0.1,1.8-0.5,3.5-1.7,4.8s-2.9,2-4.7,2L31.1,186c-0.3,0-0.6,0.3-0.6,0.6v8.1
								C30.4,198.3,27.4,201.2,23.8,201.2z M166.1,6L9,9.1c-0.4,0-0.7,0.3-0.7,0.7L6,194.5c0,0.2,0.1,0.3,0.2,0.4s0.2,0.2,0.4,0.2
								l17.2,0.1v3v-3c0.3,0,0.6-0.3,0.6-0.6v-8.1c0-3.6,3-6.6,6.6-6.6l39.3-0.1c0.1,0,0.2,0,0.3-0.1s0.1-0.2,0.1-0.3v-0.2
								c-0.1-1.8,0.5-3.5,1.6-4.8s2.8-2.1,4.6-2.1l94.7-2.6c0.2,0,0.3-0.1,0.4-0.2s0.2-0.2,0.2-0.4L166.8,6.6C166.8,6.3,166.5,6,166.1,6z"
								/>
						</g>
					</svg>
				</div>
			</div>
			<h3 class="state-title small-title">Childhood</h3>
			<div class="state-description">Since the age of 4, my taste buds have been conditioned to spice.  At age 28, I still get a cooler full of green chili for my birthday every year.</div>
		</div>
		<div class="columns state-container">
			<div class="state-image-container oklahoma">
				<div class="svg-container">
					<svg class="state-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 293.1 145.8" style="enable-background:new 0 0 293.1 145.8;" xml:space="preserve">
						<g>
							<path d="M287.7,145.8c-0.6,0-1.3-0.1-1.9-0.3l-22.5-7.2c-0.9-0.3-2.3-0.4-3.6-0.4c-0.7,0-1.4,0.1-1.9,0.1l-26.3,5.3
								c-1.3,0.3-2.7,0.3-3.7,0.3c-1.7,0-3.4-0.2-4.6-0.5l-62.9-15.1c-2-0.5-5.2-1.4-7.1-2l-49.5-15.4c-3.2-1-5.5-4.3-5.5-7.6l1.4-72.6
								c0-0.4-0.3-0.7-0.7-0.7L6.5,25.7c-3.6-0.2-6.5-3.2-6.5-6.7L0,6.5c0-1.7,0.7-3.4,1.9-4.6C3.1,0.7,4.7,0,6.4,0l0.2,0l136.4,5.2
								c1.8,0.1,5,0.1,7,0.1l127.3-2.7c1.8,0,3.5,0.7,4.6,2c1.2,1.3,1.7,3,1.5,4.8l-1,10.3c-0.2,1.7,0,4.5,0.4,6.2l8,36.9
								c0.5,2.1,0.9,5.5,0.9,7.7l1.4,69.6c0,1.6-0.5,3.1-1.6,4.2C290.5,145.2,289.2,145.8,287.7,145.8z M259.7,131.8c2,0,3.9,0.3,5.4,0.7
								l22,7l-1.4-69c0-1.8-0.4-4.8-0.8-6.5l-8-36.9c-0.5-2.2-0.7-5.8-0.5-8l1-10.3c0-0.1,0-0.2,0-0.2c0,0-0.1,0-0.2,0l-127.1,2.7
								c-2.1,0-5.4,0-7.4-0.1L6.5,6c0,0,0,0,0,0C6.3,6,6.2,6,6.1,6.1C6,6.2,6,6.3,6,6.5l0.1,12.5c0,0.4,0.4,0.8,0.8,0.8l92.3,4.2
								c3.6,0.2,6.5,3.2,6.4,6.8l-1.4,72.6c0,0.6,0.6,1.6,1.3,1.7l49.5,15.4c1.8,0.6,4.9,1.4,6.8,1.9l62.9,15.1c1.4,0.3,4.3,0.4,5.7,0.1
								l26.3-5.3C257.5,131.9,258.6,131.8,259.7,131.8z"/>
						</g>
					</svg>
				</div>
			</div>
			<h3 class="state-title small-title">College</h3>
			<div class="state-description">As a kid, I thought OU vs TX football weekend was a holiday.  As a former Sooner, I now understand that it absolutely is.</div>
		</div>
		<div class="columns state-container">
			<div class="state-image-container">
				<div class="svg-container">
					<svg class="state-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 207.6 182.1" style="enable-background:new 0 0 207.6 182.1;" xml:space="preserve">
						<g>
							<path d="M171.1,182.1c-1.9,0-3.5-0.8-4.4-2.3c-0.9-1.5-1-3.3-0.1-5.1l5.3-11.3l-133.9,2c-1.8,0-3.4-0.7-4.6-1.9s-1.9-2.9-1.9-4.6
								L32,63.4c0-1.1-0.8-3-1.7-3.8L18.4,48.7c-1.3-1.2-2.1-2.9-2.1-4.7s0.8-3.4,2.1-4.6l3.5-3.1c0.3-0.3,0.3-0.8,0.1-1.1L1.3,9.2
								C0,7.5-0.4,5.6,0.4,4C1.2,2.4,2.8,1.5,5,1.4L116.4,0c3.3,0,6.6,2.3,7.7,5.3l10.1,27.6c0.5,1.4,2,3.6,3.1,4.6L151,50
								c1.9,1.7,3.8,4.8,4.6,7.2l1.9,6c1.8-0.8,4.4-0.9,6.5-0.2l3.1,1c3.3,1.1,5.4,4.7,4.6,8.2l-3.9,17.5c-0.2,0.8,0.3,2.2,1,2.7
								l19.6,14.9c2.1,1.6,4.2,4.7,4.9,7.2l5,18.1c0.3,0.9,1.5,2.2,2.4,2.4l2.2,0.7c3.4,1,5.5,4.7,4.6,8.2l-2.3,8.8
								c-0.8,3-3.6,5.7-6.6,6.5l-2.2,0.5c-0.8,0.2-1.7,1.2-1.9,2l-2.3,13.3c-0.6,3.3-3.7,6-7,6.2l-13.6,0.7
								C171.3,182,171.2,182.1,171.1,182.1z M173.1,157.4c2,0,3.6,0.8,4.6,2.3c0.9,1.5,1,3.4,0.1,5.2l-5.2,11.1l12.2-0.7
								c0.6,0,1.3-0.7,1.4-1.3l2.3-13.3c0.6-3.1,3.3-6,6.4-6.8l2.2-0.5c0.9-0.2,2-1.3,2.2-2.2l2.3-8.8c0.1-0.4-0.1-0.8-0.5-0.9l-2.2-0.7
								c-2.9-0.9-5.6-3.7-6.4-6.6l-5-18.1c-0.4-1.3-1.7-3.3-2.7-4.1l-19.6-14.9c-2.5-1.9-3.9-5.7-3.2-8.7l3.9-17.5c0.1-0.4-0.2-1-0.7-1.2
								l-3.1-1c-0.4-0.1-0.8-0.2-1.2-0.2c-0.6,0-1,0.1-1.1,0.2c-0.8,0.8-1.9,1.2-3,1.2c-2.2,0-4-1.6-4.8-4.2l-2.2-6.8
								c-0.4-1.4-1.8-3.6-2.9-4.6l-13.7-12.5c-1.8-1.7-3.8-4.7-4.7-7L118.5,7.4c-0.2-0.7-1.3-1.4-2-1.4L7.6,7.4l19.2,24.2
								c2.2,2.8,1.8,7-0.8,9.3L22.5,44c-0.1,0.1-0.1,0.1-0.1,0.2c0,0,0,0.1,0.1,0.2l11.9,10.9c2.1,1.9,3.6,5.4,3.6,8.3L37.5,159
								c0,0.2,0.1,0.3,0.2,0.4c0.1,0.1,0.2,0.2,0.4,0.2L173.1,157.4z"/>
						</g>
					</svg>
				</div>
			</div>
			<h3 class="state-title small-title">Career Start</h3>
			<div class="state-description">As a kid, I thought OU vs TX football weekend was a holiday.  As a former Sooner, I now understand that it absolutely is.</div>
		</div>
		<div class="columns state-container">
			<div class="state-image-container">
				<div class="svg-container">
					<svg class="state-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 211.6 155.5" style="enable-background:new 0 0 211.6 155.5;" xml:space="preserve">
						<g>
							<path d="M100.1,155.5c-38.5,0-93.3-3.5-93.8-3.5c-3.6-0.2-6.4-3.3-6.3-6.9L5.2,6.4C5.4,2.8,8.3,0,11.9,0l0.2,0
								c0.4,0,43.9,1.3,83.3,1.3c4.3,0,8.5,0,12.6,0C142.5,1,198.7,0,199.2,0l0.1,0c3.5,0,6.5,2.9,6.7,6.4l5.6,138.7
								c0.1,3.6-2.7,6.7-6.3,6.9C204.7,152,142,155.5,100.1,155.5z M11.9,6c-0.3,0-0.6,0.3-0.6,0.6L6,145.3c0,0.4,0.3,0.7,0.6,0.7
								c0.5,0,55.1,3.5,93.4,3.5c41.7,0,104.3-3.5,104.9-3.5c0.3,0,0.6-0.3,0.6-0.7L200,6.7c0-0.3-0.3-0.7-0.7-0.7c-0.6,0-56.8,1-91.3,1.3
								c-4.1,0-8.4,0-12.6,0C55.9,7.3,12.3,6.1,11.9,6C11.9,6,11.9,6,11.9,6z"/>
						</g>
					</svg>
				</div>
			</div>
			<h3 class="state-title small-title">Home</h3>
			<div class="state-description">Colorado chili has nothing on New Mexico’s, but you can’t beat the mountains and climate here.</div>
		</div>
	</div>
</section>
<section class="content-section states small">
	<div class="state-container-h row">
		<div class="state-image-container-h small-12 medium-expand columns">
			<div class="svg-container-h">
				<svg class="state-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 208.9 198.7" style="enable-background:new 0 0 208.9 198.7;" xml:space="preserve">
					<g>
						<path d="M147.3,198.7c-0.5,0-1-0.1-1.6-0.2l-23.6-6c-2.7-0.7-5.8-3.1-7.1-5.6l-24.3-45.8c-0.7-1.3-2.4-3.2-3.7-4l-10-6.4
							c-1.1-0.7-3.3-1.3-4.7-1.3l-0.2,0l-6.6,0.3c-0.9,0-2.5,1-2.9,1.8l-3.5,6.1c-1.2,2.1-3.5,3.4-5.9,3.4c-1.1,0-2.1-0.3-3-0.7
							l-13.9-7.1c-2.4-1.2-5-4-6-6.6l-4.9-12.5c-0.6-1.4-2.1-3.8-3.2-4.9L1.7,89.1C-0.5,86.9,0,84.8,0.3,84c0.3-0.8,1.4-2.6,4.6-2.6h47.6
							c0.4,0,0.7-0.3,0.7-0.7l2.9-74.3C56.3,2.9,59.3,0,62.8,0l0.1,0l39,0.8c3.6,0.1,6.5,3.1,6.5,6.7v32.3c0,0.7,0.7,1.6,1.3,1.8
							l29.5,9.1c1.5,0.5,4.1,0.8,5.8,0.8l0.3,0l28.8-0.8c2.4-0.1,5.9,0.5,8.1,1.3l11.4,4.1c3.1,1.1,5.4,4.4,5.4,7.6v18
							c0,1.4,0.7,3.9,1.5,5.1l6.6,10.6c1.4,2.3,2.2,6,1.7,8.7l-3.1,17c-0.5,2.8-2.7,6-5.2,7.4L160.6,154c-1.2,0.7-2.9,2.5-3.5,3.8
							l-7.9,16.1c-0.6,1.1-0.8,3.5-0.5,4.7l3.3,13.7c0.4,1.7,0.1,3.4-0.9,4.6C150.2,198.1,148.8,198.7,147.3,198.7z M72.3,123.4
							c2.6,0,5.9,1,8,2.3l10,6.4c2.1,1.4,4.6,4,5.7,6.2l24.3,45.8c0.5,1,2.2,2.3,3.3,2.6l22.3,5.6l-3-12.3c-0.6-2.6-0.2-6.4,1-8.8
							l7.9-16.1c1.1-2.3,3.7-5,5.9-6.3l39.9-23.4c0.9-0.6,2.1-2.2,2.3-3.3l3.1-17c0.2-1.2-0.2-3.4-0.9-4.5l-6.6-10.6
							c-1.4-2.2-2.4-5.7-2.4-8.2v-18c0-0.7-0.7-1.7-1.4-2l-11.4-4.1c-1.4-0.5-4-0.9-5.7-0.9l-0.2,0l-28.8,0.8c-2.3,0.1-5.8-0.4-8-1.1
							L108,47.3c-3.2-1-5.6-4.2-5.6-7.5V7.5c0-0.3-0.3-0.7-0.7-0.7L62.8,6l0,0c-0.4,0-0.7,0.3-0.7,0.6L59.2,81c-0.1,3.6-3.2,6.5-6.7,6.5
							H8.5L26.2,105c1.7,1.7,3.7,4.7,4.6,6.9l4.9,12.5c0.5,1.2,2,2.9,3.1,3.4l13.9,7.1c0.3,0.2,0.9,0,1.1-0.3l3.5-6.1
							c1.5-2.6,4.9-4.6,7.9-4.8l6.6-0.3C72,123.4,72.1,123.4,72.3,123.4z"/>
					</g>
				</svg>
			</div>
		</div>
		<div class="state-description-container-h small-12 medium-expand columns">
			<h3 class="state-title-h small-title">Roots</h3>
			<div class="state-description-h">95% of my giant and extremely tight-knit family resides in Texas. As a result, yes, I say "y’all".</div>
		</div>
	</div>
	<div class="state-container-h row">
		<div class="state-image-container-h small-12 medium-expand columns">
			<div class="svg-container-h">
				<svg class="state-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 178.2 201.2" style="enable-background:new 0 0 178.2 201.2;" xml:space="preserve">
					<g>
						<path d="M23.8,201.2L23.8,201.2l-17.3-0.1c-1.8,0-3.4-0.7-4.7-2c-1.2-1.3-1.9-2.9-1.9-4.7L2.3,9.7c0-3.6,3-6.6,6.6-6.6L166.1,0
							c3.5,0,6.5,2.9,6.6,6.4l5.4,162.5c0.1,1.8-0.6,3.4-1.8,4.7s-2.8,2-4.6,2.1L77,178.3c-0.1,0-0.2,0.1-0.3,0.1
							c-0.1,0.1-0.1,0.2-0.1,0.3v0.2c0.1,1.8-0.5,3.5-1.7,4.8s-2.9,2-4.7,2L31.1,186c-0.3,0-0.6,0.3-0.6,0.6v8.1
							C30.4,198.3,27.4,201.2,23.8,201.2z M166.1,6L9,9.1c-0.4,0-0.7,0.3-0.7,0.7L6,194.5c0,0.2,0.1,0.3,0.2,0.4s0.2,0.2,0.4,0.2
							l17.2,0.1v3v-3c0.3,0,0.6-0.3,0.6-0.6v-8.1c0-3.6,3-6.6,6.6-6.6l39.3-0.1c0.1,0,0.2,0,0.3-0.1s0.1-0.2,0.1-0.3v-0.2
							c-0.1-1.8,0.5-3.5,1.6-4.8s2.8-2.1,4.6-2.1l94.7-2.6c0.2,0,0.3-0.1,0.4-0.2s0.2-0.2,0.2-0.4L166.8,6.6C166.8,6.3,166.5,6,166.1,6z"
							/>
					</g>
				</svg>
			</div>
		</div>
		<div class="state-description-container-h small-12 medium-expand columns">
			<h3 class="state-title-h small-title">Childhood</h3>
			<div class="state-description-h">Since the age of 4, my taste buds have been conditioned to spice.  At age 28, I still get a cooler full of green chili for my birthday every year.</div>
		</div>
	</div>
	<div class="state-container-h row">
		<div class="state-image-container-h small-12 medium-expand columns">
			<div class="svg-container-h">
				<svg class="state-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 293.1 145.8" style="enable-background:new 0 0 293.1 145.8;" xml:space="preserve">
					<g>
						<path d="M287.7,145.8c-0.6,0-1.3-0.1-1.9-0.3l-22.5-7.2c-0.9-0.3-2.3-0.4-3.6-0.4c-0.7,0-1.4,0.1-1.9,0.1l-26.3,5.3
							c-1.3,0.3-2.7,0.3-3.7,0.3c-1.7,0-3.4-0.2-4.6-0.5l-62.9-15.1c-2-0.5-5.2-1.4-7.1-2l-49.5-15.4c-3.2-1-5.5-4.3-5.5-7.6l1.4-72.6
							c0-0.4-0.3-0.7-0.7-0.7L6.5,25.7c-3.6-0.2-6.5-3.2-6.5-6.7L0,6.5c0-1.7,0.7-3.4,1.9-4.6C3.1,0.7,4.7,0,6.4,0l0.2,0l136.4,5.2
							c1.8,0.1,5,0.1,7,0.1l127.3-2.7c1.8,0,3.5,0.7,4.6,2c1.2,1.3,1.7,3,1.5,4.8l-1,10.3c-0.2,1.7,0,4.5,0.4,6.2l8,36.9
							c0.5,2.1,0.9,5.5,0.9,7.7l1.4,69.6c0,1.6-0.5,3.1-1.6,4.2C290.5,145.2,289.2,145.8,287.7,145.8z M259.7,131.8c2,0,3.9,0.3,5.4,0.7
							l22,7l-1.4-69c0-1.8-0.4-4.8-0.8-6.5l-8-36.9c-0.5-2.2-0.7-5.8-0.5-8l1-10.3c0-0.1,0-0.2,0-0.2c0,0-0.1,0-0.2,0l-127.1,2.7
							c-2.1,0-5.4,0-7.4-0.1L6.5,6c0,0,0,0,0,0C6.3,6,6.2,6,6.1,6.1C6,6.2,6,6.3,6,6.5l0.1,12.5c0,0.4,0.4,0.8,0.8,0.8l92.3,4.2
							c3.6,0.2,6.5,3.2,6.4,6.8l-1.4,72.6c0,0.6,0.6,1.6,1.3,1.7l49.5,15.4c1.8,0.6,4.9,1.4,6.8,1.9l62.9,15.1c1.4,0.3,4.3,0.4,5.7,0.1
							l26.3-5.3C257.5,131.9,258.6,131.8,259.7,131.8z"/>
					</g>
				</svg>
			</div>
		</div>
		<div class="state-description-container-h small-12 medium-expand columns">
			<h3 class="state-title-h small-title">College</h3>
			<div class="state-description-h">As a kid, I thought OU vs TX football weekend was a holiday.  As a former Sooner, I now understand that it absolutely is.</div>
		</div>
	</div>
	<div class="state-container-h row">
		<div class="state-image-container-h small-12 medium-expand columns">
			<div class="svg-container-h">
				<svg class="state-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 207.6 182.1" style="enable-background:new 0 0 207.6 182.1;" xml:space="preserve">
					<g>
						<path d="M171.1,182.1c-1.9,0-3.5-0.8-4.4-2.3c-0.9-1.5-1-3.3-0.1-5.1l5.3-11.3l-133.9,2c-1.8,0-3.4-0.7-4.6-1.9s-1.9-2.9-1.9-4.6
							L32,63.4c0-1.1-0.8-3-1.7-3.8L18.4,48.7c-1.3-1.2-2.1-2.9-2.1-4.7s0.8-3.4,2.1-4.6l3.5-3.1c0.3-0.3,0.3-0.8,0.1-1.1L1.3,9.2
							C0,7.5-0.4,5.6,0.4,4C1.2,2.4,2.8,1.5,5,1.4L116.4,0c3.3,0,6.6,2.3,7.7,5.3l10.1,27.6c0.5,1.4,2,3.6,3.1,4.6L151,50
							c1.9,1.7,3.8,4.8,4.6,7.2l1.9,6c1.8-0.8,4.4-0.9,6.5-0.2l3.1,1c3.3,1.1,5.4,4.7,4.6,8.2l-3.9,17.5c-0.2,0.8,0.3,2.2,1,2.7
							l19.6,14.9c2.1,1.6,4.2,4.7,4.9,7.2l5,18.1c0.3,0.9,1.5,2.2,2.4,2.4l2.2,0.7c3.4,1,5.5,4.7,4.6,8.2l-2.3,8.8
							c-0.8,3-3.6,5.7-6.6,6.5l-2.2,0.5c-0.8,0.2-1.7,1.2-1.9,2l-2.3,13.3c-0.6,3.3-3.7,6-7,6.2l-13.6,0.7
							C171.3,182,171.2,182.1,171.1,182.1z M173.1,157.4c2,0,3.6,0.8,4.6,2.3c0.9,1.5,1,3.4,0.1,5.2l-5.2,11.1l12.2-0.7
							c0.6,0,1.3-0.7,1.4-1.3l2.3-13.3c0.6-3.1,3.3-6,6.4-6.8l2.2-0.5c0.9-0.2,2-1.3,2.2-2.2l2.3-8.8c0.1-0.4-0.1-0.8-0.5-0.9l-2.2-0.7
							c-2.9-0.9-5.6-3.7-6.4-6.6l-5-18.1c-0.4-1.3-1.7-3.3-2.7-4.1l-19.6-14.9c-2.5-1.9-3.9-5.7-3.2-8.7l3.9-17.5c0.1-0.4-0.2-1-0.7-1.2
							l-3.1-1c-0.4-0.1-0.8-0.2-1.2-0.2c-0.6,0-1,0.1-1.1,0.2c-0.8,0.8-1.9,1.2-3,1.2c-2.2,0-4-1.6-4.8-4.2l-2.2-6.8
							c-0.4-1.4-1.8-3.6-2.9-4.6l-13.7-12.5c-1.8-1.7-3.8-4.7-4.7-7L118.5,7.4c-0.2-0.7-1.3-1.4-2-1.4L7.6,7.4l19.2,24.2
							c2.2,2.8,1.8,7-0.8,9.3L22.5,44c-0.1,0.1-0.1,0.1-0.1,0.2c0,0,0,0.1,0.1,0.2l11.9,10.9c2.1,1.9,3.6,5.4,3.6,8.3L37.5,159
							c0,0.2,0.1,0.3,0.2,0.4c0.1,0.1,0.2,0.2,0.4,0.2L173.1,157.4z"/>
					</g>
				</svg>
			</div>
		</div>
		<div class="state-description-container-h small-12 medium-expand columns">
			<h3 class="state-title-h small-title">Career Start</h3>
			<div class="state-description-h">In my short one year stint in Kansas City, I might have eaten more gas station bar-b-que than I have throughout the rest of my life.</div>
		</div>
	</div>
	<div class="state-container-h row">
		<div class="state-image-container-h small-12 medium-expand columns">
			<div class="svg-container-h">
				<svg class="state-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 211.6 155.5" style="enable-background:new 0 0 211.6 155.5;" xml:space="preserve">
					<g>
						<path d="M100.1,155.5c-38.5,0-93.3-3.5-93.8-3.5c-3.6-0.2-6.4-3.3-6.3-6.9L5.2,6.4C5.4,2.8,8.3,0,11.9,0l0.2,0
							c0.4,0,43.9,1.3,83.3,1.3c4.3,0,8.5,0,12.6,0C142.5,1,198.7,0,199.2,0l0.1,0c3.5,0,6.5,2.9,6.7,6.4l5.6,138.7
							c0.1,3.6-2.7,6.7-6.3,6.9C204.7,152,142,155.5,100.1,155.5z M11.9,6c-0.3,0-0.6,0.3-0.6,0.6L6,145.3c0,0.4,0.3,0.7,0.6,0.7
							c0.5,0,55.1,3.5,93.4,3.5c41.7,0,104.3-3.5,104.9-3.5c0.3,0,0.6-0.3,0.6-0.7L200,6.7c0-0.3-0.3-0.7-0.7-0.7c-0.6,0-56.8,1-91.3,1.3
							c-4.1,0-8.4,0-12.6,0C55.9,7.3,12.3,6.1,11.9,6C11.9,6,11.9,6,11.9,6z"/>
					</g>
				</svg>
			</div>
		</div>
		<div class="state-description-container-h small-12 medium-expand columns">
			<h3 class="state-title-h small-title">Home</h3>
			<div class="state-description-h">Colorado chili has nothing on New Mexico’s, but you can’t beat the mountains and climate here.</div>
		</div>
	</div>
</section>
<section class="content-section">
	<div class="row align-middle">
		<div class="small-12 medium-6 columns">
			<h3 class="small-title">What I Like</h3>
			<div class="description">I stay sane through exercise. I run often and bike home from work a few days a week. I spend time in the park with my husband and two hyper labs. There’s not a sport I don’t love to watch (except maybe NBA basketball). Yes, even Master’s Sunday is one of my favorite days of the year. I’ve been known to browse Etsy for items to purchase, but instead convince myself I can make them on my own. I enjoy a good jigsaw and/or crossword puzzle with a glass of wine.</div>
		</div>
		<div class="small-12 medium-6 columns callout-container">
			<div class="text-callout">Family</div>
			<div class="text-callout">Photography</div>
			<div class="text-callout">Wine</div>
			<div class="text-callout">Biking</div>
			<div class="text-callout">Sports</div>
			<div class="text-callout">Jigsaw Puzzles</div>
			<div class="text-callout">DIY</div>
		</div>
	</div>
</section>
{{site-footer}}