{{#each model as |currentProject|}}
	<div class="secondary-nav-item-container">
		{{#link-to "project" currentProject.id}}
			{{currentProject.name}}
			{{svg-arrow}}
		{{/link-to}}
	</div>
{{/each}}
