{{#each model as |project|}}
	{{#if (not-current-project currentProject project)}}
		<div class="secondary-nav-item-container">
			{{#link-to "project" project.id}}
				{{project.name}}
				{{svg-arrow}}
			{{/link-to}}
		</div>
	{{/if}}
{{/each}}

