<div class="row align-middle">
	<div class="columns small-12 medium-6 screen-image-container">
		<div class="screen-label">Original</div>
		<img class="login-screen" src="assets/images/aventura-originallogin.jpg">
	</div>
	<div class="columns small-12 medium-6 screen-image-container">
		<div class="screen-label">Improved</div>
		<img class="login-screen" src="assets/images/aventura-login.png">
	</div>
</div>