<div class="visual-details-container row align-middle">
	<div class="columns small-12 medium-6">
		<img src="assets/images/spigot-selectedlistitem.jpg">
	</div>
	<div class="columns small-12 medium-6">
		<img src="assets/images/spigot-profilepicture.jpg">
	</div>
</div>
