<div class="social-container">
	<a class="social-icon-container linkedin" href="https://www.linkedin.com/in/kate-white-72955238" target="_blank">
		{{fa-icon "linkedin" size=2}}
	</a>
	<a class="social-icon-container twitter" href="https://twitter.com/justkatewhite" target="_blank">
		{{fa-icon "twitter" size=2}}
	</a>
	<a class="social-icon-container behance" href="https://www.behance.net/kate_white" target="_blank">
		{{fa-icon "behance" size=2}}
	</a>
	<a class="social-icon-container mail" href="mailto:hi@justkatewhite.com">
		{{fa-icon "envelope" size=2}}
	</a>
</div>