<div class="social-container">
	<a class="social-icon-container linkedin">
		{{fa-icon "linkedin" size=2}}
	</a>
	<a class="social-icon-container twitter">
		{{fa-icon "twitter" size=2}}
	</a>
	<a class="social-icon-container behance">
		{{fa-icon "behance" size=2}}
	</a>
	<a class="social-icon-container mail">
		{{fa-icon "envelope" size=2}}
	</a>
</div>